{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-return-assign": ["error", "except-parens"],
    "no-underscore-dangle": ["error", { "allow": ["__"] }],
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "jsx-a11y/anchor-is-valid": ["error", { "specialLink": ["to"] }],
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/state-in-constructor": ["off"]
  }
}
